body{
    background-image: url(backr.jpg);  
    max-width: 90%;
    max-height: 100%;
}
#posts {
    height: 600px;      
    width: 100%;        
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 10px;      
  }
label{
    font-size: larger;
    color: #1f3621;
}
#posts div{
    background-color: rgba(113, 175, 79, 0.204);
    width: 90%;
    height: 20%;
    border: 3px rgba(1, 26, 10, 0.761) solid;
    margin-left:20px ;
}
form{
    
    width: 120%;
    height: 40%;
    background-color: rgba(33, 135, 224, 0.486);
}
textarea{
    width: 590px;
    height: 120px;
    margin-top: 10px;
}